
/// @type Color
$primary: #FFC83A !default;
$primary-variant: #FFDA7C;
$secondary: #282828;
$secondary-variant: #262626;
$error: #B00020;
$high-emphasis: #000000;
$mid-emphasis: #00000099;
$disabled: #00000061;
$surface: #F4F4F4;
$background: #FFFFFF;
$accent: #FF3838;
$accent-variant: #FF7A7A;
$accent2: #FF9A3E;
$accent2-variant: #FFBC7E;
$accent3: #6A4C93;
$accent3-variant: #AF7EFF;

/// @type List
$primary-font: 'Roboto', sans-serif;
$second-font: 'Ropa Sans', sans-seri;