{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method='POST'>
        {% csrf_token %}
        <h1>Add Your Comment</h1>
        {{form.as_p}}
        <a href="{{request.META.HTTP_REFERER}}">Cancel</a>
        <input type="submit" value="Post Comment">
    </form>
</body>

</html>
{% endblock content %}