{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Delete Your Post</h1>
    <form action="" method='POST'>
        {% csrf_token %}
        <h2>Are you sure you want to delete "{{ obj }}" ?</h2>
        <a href="{{request.META.HTTP_REFERER}}">Cancel</a>
        <input type="submit" value='Yes, I am sure'>
    </form>
</body>

</html>
{% endblock content %}