* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0% !important;
}
    
h1, h2, h3, p, a, input, span {
    font-family: $primary-font;
}

a {
    text-decoration: none !important;
}

label {
    font-family: $third-font;
}

.logo {
    font-family: $second-font !important;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}