* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    
h1, h2, h3, p, a, input {
    font-family: $primary-font;
}

a {
    text-decoration: none;
}

label {
    font-family: $third-font;
}

.logo {
    font-family: $second-font !important;
}